
# Git and GitHub.
.git/
.github/
.gitattributes

# Npm.
node_modules/
npm-shrinkwrap.json

# Docs.
docs/

# Tests.
test/

# Editor settings.
.vscode/
.idea/
.editorconfig

# TypeScript source.
src/
tsconfig.json
